.conversor {
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  background-color: #d4ecdd;
  border-radius: 10px;
}
.btn-convert {
  background-color: #345b63;
  color: #fff;
  width: 4.5rem;
  height: 2rem;
}
.conversor h2 {
  color: #152d35;
}
.conversor input[type="number"] {
  height: 1.5rem;
  font-size: 14px;
}
