/* font-family: "Noto Serif Display", serif;
font-family: "Zen Antique Soft", serif;
font-family: "Zen Kurenaido", sans-serif; */

.linha {
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

.App {
  background-color: rgb(50, 145, 158);
  width: 100%;
  margin: auto;
}
.App a {
  padding-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .linha {
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-around;
  }
}
